{
  "$schema": "https://json.schemastore.org/commitlintrc",
  "extends": [
    "@commitlint/config-conventional"
  ],
  "helpUrl": "https://github.com/angular/angular/blob/main/CONTRIBUTING.md#commit",
  "rules": {
    "body-max-length": [
      2,
      "always",
      "Infinity"
    ],
    "body-max-line-length": [
      2,
      "always",
      "Infinity"
    ],
    "footer-max-length": [
      2,
      "always",
      "Infinity"
    ],
    "footer-max-line-length": [
      2,
      "always",
      "Infinity"
    ],
    "type-enum": [
      2,
      "always",
      [
        "build",
        "ci",
        "docs",
        "feat",
        "fix",
        "lint",
        "perf",
        "refactor",
        "revert",
        "style",
        "test"
      ]
    ]
  }
}
