/* variables */
:root {
  /* colors */
  --gunMetal: #282f3e;
  --charcoal: #3b4559;
  --slateGray: #707785;
  --lightGray: #cccfd6;
  --gainsboro: #e5e5eb;
  --cultured: #f7f7fa;
  --white: #ffffff;

  --blue-yonder: #567a9e;
  --blue-yonder-25: #d4dde7;
  --blue-gray: #5697d2;
  --blue-gray-25: #d4e5f4;

  --mediumSeaGreen: #29b361;
  --golden-poppy: #fac11a;
  --maximum-red: #e1000f;

  --cadet-grey: #8e9a9f;
  --grullo: #b89b8c;
  --copper-red: #cf6a4e;
  --chinese-red: #a13112;

  --powder-blue: #9ed7d9;
  --wheat: #edd6a4;
  --opal: #a5bcc0;

  /* text */
  --rs-text-primary: var(--gunMetal);

  /* btn vars */
  --rs-btn-primary-text: var(--white);
  --rs-btn-primary-bg: var(--charcoal);
  --rs-btn-default-bg: transparent;
  --rs-btn-primary-hover-bg: var(--blue-yonder);
  --rs-btn-link-text: var(--slateGray);
  --rs-btn-link-hover-text: var(--blue-yonder);
  --rs-btn-link-active-text: var(--blue-gray);
  --rs-btn-ghost-text: var(--charcoal);
  --rs-btn-ghost-border: var(--charcoal);
  --rs-btn-ghost-hover-border: var(--blue-yonder);
  --rs-btn-ghost-hover-text: var(--blue-yonder);
  --rs-iconbtn-addon: transparent;

  --rs-iconbtn-primary-addon: var(--charcoal);
  --rs-btn-default-hover-bg: var(--blue-yonder);
  --rs-iconbtn-activated-addon: var(--blue-yonder);
  --rs-btn-default-hover-text: var(--white);
  --rs-iconbtn-primary-activated-addon: var(--blue-yonder);
  --rs-btn-primary-active-bg: var(--blue-gray);
  --rs-iconbtn-primary-pressed-addon: var(--blue-gray);
  --rs-btn-ghost-active-text: var(--blue-gray);
  --rs-btn-subtle-text: var(--gunMetal);
  --rs-btn-subtle-hover-bg: transparent;
  --rs-btn-subtle-hover-text: var(--blue-yonder);
  --rs-btn-subtle-active-bg: transparent;
  --rs-btn-subtle-active-text: var(--blue-gray);

  /* Checkbox vars */
  --rs-checkbox-disabled-bg: var(--white);

  --rs-menuitem-active-text: var(--blue-gray);
  --rs-listbox-option-hover-bg: var(--blue-yonder-25);
  --rs-listbox-option-selected-bg: var(--blue-gray-25);
  /* tags */
  --rs-tag-bg: var(--gainsboro);

  /* toggle */
  --rs-toggle-checked-bg: var(--charcoal);
  --rs-toggle-checked-hover-bg: var(--gunMetal);

  /* Inputs outlines */
  --rs-state-focus-outline: 0 !important;
}

/* Tags */

.rs-tag-default {
  font-weight: 500;
}

.rs-tag-closable.rs-tag-md {
  padding-right: 32px;
}

.rs-tag-md {
  font-size: 13px;
  line-height: 18px;
  border-radius: 0px;
  padding-top: 1px;
  padding-bottom: 3px;
}

/* */
.rs-modal-lg {
  width: 1300px;
}

.rs-slider-mark {
  font-size: 13px;
  color: var(--slateGray);
}

.rs-slider {
  position: absolute;
  width: 341px;
  margin-top: -19px;
}

.rs-slider-bar {
  height: 0;
}

.rs-slider-progress-bar {
  height: 2px;
  background: none;
}

.rs-slider-graduator > ul > li::before {
  visibility: hidden;
}

.rs-slider-graduator > ul > li:last-child::after,
.rs-slider-graduator > ul > li::before {
  top: -3px;
  border: none;
}

.rs-slider-handle::before {
  background: var(--lightGray);
  border: unset;
  top: -6px;
  margin-left: -5px;
  width: 16px;
  height: 16px;
}

.rs-slider-graduator {
  margin-left: -5px;
  margin-top: -10px;
}

.rs-slider-graduated > div:nth-child(2)::before {
  background: #9095a2;
  z-index: 99;
}

.rs-slider-graduated > div:nth-child(2) {
  z-index: 9999;
}

.rs-slider-graduated > div:nth-child(3)::before {
  background: var(--charcoal);
  z-index: 99;
}


.rs-modal-body {
  padding: 20px 25px 0 25px !important;
}


.rs-modal-full .rs-modal-dialog {
  width: 100%;
  margin-left: 0;
}

.rs-modal-content {
  padding: 0;
  border-radius: 2px;
}

.rs-modal-body {
  padding: 20px 25px 20px 25px;
  margin-top: 0;
  max-height: 800px !important;
  min-height: 210px !important;
}

.rs-modal-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 5px 14px 8px 14px;
  background: var(--charcoal);
}

.rs-modal-header .rs-modal-title {
  color: #f0f0f0;
  font-size: 22px;
  font-weight: normal;
}



.rs-modal-header-close {
  background: unset;
  right: 10px !important;
  top: 9px !important;
  font-size: 15px !important;
  color: var(--gainsboro) !important;
}


.rs-plaintext {
  font-size: 13px !important;
}
