name: Check

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  lint:
    name: Lint
    if: ${{ !startsWith(github.head_ref, 'ci-release-v') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 100
      - name: Install
        uses: ./.github/actions/install
      - name: Lint commits (last 100)
        run: yarn commitlint --from HEAD~49 --to HEAD -V
      - name: Lint code
        run: yarn test:lint

  type:
    name: Type
    if: ${{ !startsWith(github.head_ref, 'ci-release-v') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install
        uses: ./.github/actions/install
      - name: Type
        run: yarn test:type

  test_unit:
    name: Unit Test
    if: ${{ !startsWith(github.head_ref, 'ci-release-v') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install
        uses: ./.github/actions/install
      - name: Test
        run: yarn test:unit --coverage
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          flags: unit
          token: ${{ secrets.CODECOV_TOKEN }}
