name: Release

on: workflow_dispatch

permissions:
  id-token: write # Required for OIDC
  contents: write # to be able to publish a GitHub release
  pull-requests: write # to be able to comment on released pull requests

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 200
          persist-credentials: false
      - name: Install
        uses: ./.github/actions/install
      - name: Build
        run: yarn build
      - name: Release
        run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_90_DAYS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_90_DAYS_TOKEN }}
      - name: Get version
        id: get_version
        run: echo ::set-output name=version::$(npm pkg get version | sed 's/"//g')
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: ci-release-v${{ steps.get_version.outputs.version }}
          # https://docs.github.com/en/actions/managing-workflow-runs/skipping-workflow-runs
          commit-message: 'ci(release): ${{ steps.get_version.outputs.version }}'
          title: 'ci(release): ${{ steps.get_version.outputs.version }}'
          token: ${{ secrets.GH_TOKEN }}

  deploy:
    name: Deploy
    needs: release
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Enable Corepack and Yarn 4
        shell: bash
        run: |
          corepack enable
          corepack prepare yarn@4.9.0 --activate
          yarn --version

      - name: Deploy
        uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          install_command: yarn install --frozen-lockfile
          build_command: yarn build:storybook:deploy
          path: storybook-static
          checkout: true
